<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>document</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="/js/script.js"></script>
    </head>
    <body>
        <form id="ask">
            <input type="text" name="question" id="quesionTxt" placeholder="Insert your question"/>
            <input type="submit" id="askBtn" value="Ask 8 ball" />
        </form>
    </body>
</html>