body{
    margin: 0;
    padding: 0;
    font-size: 11pt;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 1;
    background-color: #3d4849;
    /*background-repeat: repeat;*/
    background-attachment: fixed;
    color: #FFFF;
}
h1{
    font-size: 22pt;
    color: #add8E6; ;
}
h2{
    color:#add8E6
}
.trait1{
    color: yellow
}
.trait2{
    color:yellow
}
